<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>table</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
    {% extends 'base.html' %}
    {% load my_filters %}
{% block body_block %}
{{text_sample|custom_filter:"New Addition"}}


        <h1>{{heading_1}}</h1>
        <a href="{% url 'First_App:form_contact'%}">Add New</a>
        <table border="1px">
                <tr>
                <th>First Name </th>
                <th>Last Name </th>
                <th>Versity Name </th>
                <th>Student ID </th>
                <th>Student CGPA </th>
                <th>Student Age </th>
                </tr>
                {% for row in First_Table %}
                <tr>
                <td>{{row.F_Name}}</td>
                <td>{{row.L_Name}}</td>
                <td>{{row.V_Name}}</td>
                <td>{{row.S_Id}}</td>
                <td>{{row.S_Cgpa}}</td>
                <td>{{row.S_Age}}</td>
                </tr>
                {% endfor %}
     </table>
     <h1>{{Second_t}}</h1>
     <a href="form_contact/">Add New</a>
     <table border="1px">
                <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Versity Name </th>
                <th>Student Mail </th>
                </tr>
                {% for row in Second_table %}
                <tr>
                  <td>{{row.First_Name}}</td>
                  <td>{{row.Last_Name}}</td>
                  <td>{{row.Versity_Name}}</td>
                  <td>{{row.Student_Mail}}</td>
                
                </tr>

                {% endfor %}
     </table>
        
        <script src="" async defer></script>
        {% endblock %}
    </body>
</html>
